.box_container {
    width: 80%;
    height: 110vh;
    background: #fff;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 4px solid pink;
}

body {
    background-color: #ccc;
}

.box1 {
    display: flex;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 50%;
    position: absolute;
    width: 45%;
    height: 50vh;
    background-color: peru;
    margin: 20px;
}

.content1 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 75px 50px 15px;
}

.anh1 {
    position: absolute;
    width: 40%;
    height: 30vh;
    z-index: 1;
    margin: 27px;
    border-radius: 16px;
}

.icon1 {
    display: flex;
}

.icon2 {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}

.fa {
    background-color: #fff;
    font-size: 25px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.box1_1 {
    position: absolute;
    border-radius: 20px;
    background-color: #ccc;
    width: 50%;
    height: 50vh;
   
}

.icon_icon {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    margin-bottom: 27px;
}

.fa1 {
    font-size: 25px;
    margin-left: 30px;
}

.fa-message {
    margin-left: 70px;
}

.box2 {
    width: 45%;
    border-radius: 20px;

    height: 50vh;
    margin: 20px;
    background-color: deepskyblue;
    position: absolute;
    top: 0;
    right: 0;
}

.anh2 {
    position: absolute;
    width: 40%;
    height: 30vh;
    z-index: 1;
    margin: 27px;
    border-radius: 16px;  
}

.box2_1 {
    position: absolute;
    border-radius: 20px;
    background-color: #ccc;
    width: 50%;
    height: 50vh;
   
}

.box3 {
    width: 45%;
    border-radius: 20px;

    height: 50vh;
    margin: 20px;
    background-color: rgb(85, 136, 153);
    position: absolute;
    bottom: 0;
    left: 0;
}

.anh3 {
    position: absolute;
    width: 40%;
    height: 30vh;
    z-index: 1;
    margin: 27px;
    border-radius: 16px;  
}

.box3_1 {
    position: absolute;
    border-radius: 20px;
    background-color: #ccc;
    width: 50%;
    height: 50vh;
    
}

.box4 {
    width: 45%;
    border-radius: 20px;

    height: 50vh;
    margin: 20px;
    background-color: rgb(85, 136, 153);
    position: absolute;
    bottom: 0;
    right: 0;
}

.anh4 {
    position: absolute;
    width: 40%;
    height: 30vh;
    z-index: 1;
    margin: 27px;
    border-radius: 16px;  
}

.box4_1 {
    position: absolute;
    border-radius: 20px;
    background-color: #ccc;
    width: 50%;
    height: 50vh;
    
}